
*{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin:0;
   padding:0;
}


.header{

  display: flex;
  justify-content: center;
  padding: 1%;
  padding-bottom: 0;
}


.navbar{

  
  

}

.ul{
    margin-left: 33%;
    margin-right: 33%;
   

    display: flex;
    list-style: none;
    padding: 1%;
    justify-content: space-evenly;

}
 


a{

  font-family: "Playfair Display";

  text-decoration: none;
  color: black;
  font-size:larger;
}



.title{
  background-color: #A0E7E5;
  padding: 3%;

  display: flex;
  justify-content: space-around;
}


.book{

  background-color: black;
  
  padding-bottom: 0%;
  width: 15%;
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
}

.page{
  background-color: white;
  padding: 9%;
  padding-bottom: 100%;
}


.h3{

  padding: 4%;

  font-size: 250%;
}

.paragraph{

  width: 80%;
  margin-left: 10%;

  margin-right: 10%;
  font-size: 150%;
  padding: 2%;

}

.picsect{

  display: flex;
  justify-content: space-evenly;

  background-color: #FBE7C6;
  padding: 2%;
  animation: marquee 6s linear infinite;
  animation-play-state: running;
  
  
  
}

.picsect img{
  width: 10%;
  margin: 2%;
  object-fit: cover;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 15s linear infinite;
}







@-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
@-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
@keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            
        }


footer{

  background-color: black;

  color: white;
  text-align: center;
}


/* media queries /*


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .header{

      text-align: center;
      margin-left: 30%;
    }
    hr{
      width: 156%;
    }

    .ul{
      margin-left: 17%;
      width: 100%;
    }
    a{
      font-size: 90%;
    }

    *{
      margin: 0;
      padding: 0;
    }

    .title{

      width: 130%;
      display: flex;
      justify-content: space-evenly;
      font-size: 70%;
    }

    .book{

      width: 12%;
    }

    .paragraph{
     
      font-size: 90%;
      width: 110%;
    }

    .picsect{

      width: 130%;
    }

    .picsect img{

    width: 10%;
    
     
     margin: 2%;
    
     object-fit: cover;
     -moz-transform: translateX(0%);
     -webkit-transform: translateX(0%);
     transform: translateX(0%);
    -moz-animation:none;
    -webkit-animation: none;
     animation: none;
     

     
}

.img9{
  display: none;
}



    footer{
      margin-top: 60%;
      width: 135%;
      bottom: 0;
      padding: 0.5%;
    }



    

   


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .picsect img{

    width: 150px;
    height: 100px;

    
     
     margin: 2%;
    
     object-fit: cover;
     -moz-transform: translateX(0%);
     -webkit-transform: translateX(0%);
     transform: translateX(0%);
    -moz-animation:none;
    -webkit-animation: none;
     animation: none;
     
}

.img8{
  display: none;
}

.img5{
  display: none;
}

.img3{
  display: none;
}

.img6{
  display: none;
}

.img7{
  display: none;
}



/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    footer{
  margin-top: 10%;
}

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    img{
      width: 100px;
      height: 150px;
    }

    .header{

      text-align: center;
      margin-left: 4%;
    }
    hr{
      width: 90%;
    }

    .ul{
      margin-left: 0.01%;
      width: 98%;
    }
    a{
      font-size: 90%;
    }



.picsect img{

    width: 150px;
    height: 100px;

    
     
     margin: 2%;
    
     object-fit: cover;
     -moz-transform: translateX(0%);
     -webkit-transform: translateX(0%);
     transform: translateX(0%);
    -moz-animation:none;
    -webkit-animation: none;
     animation: none;
     
}

.img8{
  display: none;
}

.img5{
  display: none;
}

.img3{
  display: none;
}

.img6{
  display: none;
}

.img7{
  display: none;
}

footer{
  margin-top: 15%;
}

 }